<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Universidad Latinoamericana{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('css/custom-styles.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark navbar-bg bg-dark {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}">
        <div class="container">

            <a class="navbar-brand" href="{{ path('welcomes') }}">Inicio</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('pagina_inicial') }}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('historia_academica') }}">Historia Académica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('registra_usuario') }}">Registrar Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('edit_user') }}">Actualizar Usuario</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    </header>

    <main role="main" class="container main">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block main %}{% endblock main %}
         <!--{{ dump() }}
         Hello, {{ app.request.query.get('var') | default('CodeReviewVideos') }} -->
         <!--*Hello, {{ app.request.server.get('REQUEST_URI') }}!-->
    </main>
    {% block javascripts %}{% endblock %}
</body>
</html>